@model DepartmentViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete Department </h1>
<br />
<br />
<form asp-action="Delete">

    <partial name="DepartmentParitalView/_DetailsDeletePartialView" />

    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>
</form>
