@model DepartmentViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Department Details</h1>
<br />
<br />
<div>
    
    <partial name="DepartmentParitalView/_DetailsDeletePartialView" />

    <a asp-controller="Department" asp-action="Edit" class="btn btn-warning">Edit</a>
    <a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>
</div>

