@model Demo.PL.ViewModels.EmployeeViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employee Details</h1>
<br />
<br />
<div>
    
    <partial name="EmployeePartialView/_DetailsDeletePartialView" />

    <a asp-controller="Employee" asp-action="Edit" class="btn btn-warning">Edit</a>
    <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Back To List</a>
</div>

