@model RoleViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User Edit</h1>
<form asp-action="Edit">
    <div>
        
        <div class="form-group">
            <label asp-for="RoleName" class="col-form-label"></label>
            <input  asp-for="RoleName" class="form-control" />

        </div>
        
        <input type="submit" value="Save" class="btn btn-warning"/>
        <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>

