@{
    ViewData["Title"] = "CheckYouInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="Body">
            Password Reset Link Has Been Sent To Your Mail, Please Check Your Inbox
            <a href="https://mail.google.com/mail/u/0/#inbox">Go To Your Inbox</a>
        </div>
    </div>
</div>

