@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div asp-validation-summary="All"></div>

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="Login">


			<input class="text" asp-for="Email" placeholder="Your Email" required="">
			<span asp-validation-for="Email" class="text-danger"></span>
			<br />
			<input class="text" asp-for="Password" placeholder="Your Password" required="">
			<span asp-validation-for="Password" class="text-danger"></span>
			<br />

			<div class="wthree-text">
				<label class="anim">
					<input asp-for="RememberMe" class="form-check">
					<span>Remember me</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNUP">
		</form>
		<p>Do You have an Account? <a asp-action="Register"> Sign UP Now!</a></p>
		<p><a asp-action="ForgetPassword">Forget Password</a></p>
	</div>
</div>


@section ValidationScriptSection {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
